body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* .main {
  flex-grow: 1;
} */

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.page {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /*мини-адаптация меню*/
}

h2 {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;

  margin-bottom: 8px;
}

/* ======== HEADER ======== */

.logo {
  display: flex;
  align-items: center;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  color: #4d5ae5;
  text-transform: uppercase;

  line-height: 1.1;
  letter-spacing: 0.03em;
}

.logo-part {
  color: #2e2f42;
}

/* ======== NAV-MENU ======== */

.nav-menu {
  display: flex;
  gap: 76px;
}

.nav-menu-list {
  display: flex;
  gap: 40px;
}

.nav-menu-link {
  display: block;
  padding: 24px 0;

  font-weight: 500;
  color: #2e2f42;
}

/* ======== ADDRESS ======== */

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-link {
  display: block;
  padding: 24px 0;

  color: #2e2f42;
  font-style: normal;
}

.nav-menu-link:hover,
.contact-link:hover {
  color: #404bbf;
}

.nav-menu-link:focus,
.contact-link:focus {
  color: #404bbf;
}

/* ======== HERO ======== */

.hero {
  /* max-width: 1440px; */
  padding: 188px 0;
  background-color: #2e2f42;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  max-width: 496px;
  text-align: center;

  font-size: 56px;
  color: #ffffff;

  font-weight: 700;
  line-height: 1.07;
}

.button {
  margin-top: 48px;

  letter-spacing: 0.04em;
  font-weight: 500;
  color: #ffffff;

  cursor: pointer;

  min-width: 169px;
  height: 56px;

  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

/* ======== ADVANTAGES ======== */

.advantages-title.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.advantages-item {
  flex-basis: calc((100% - (24px + 24px + 24px)) / 4);
}

/* ======== TEAM ======== */
.our-team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.section h2 {
  text-align: center;
  padding-bottom: 72px;
}

.team-thumb {
  background-color: #ffffff;
  padding: 32px 16px;
  text-align: center;
}

.team-card {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

/* ======== PORTFOLIO ======== */
.portfolio-thumb {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

/* ======== FOOTER ======== */
.footer-section {
  background-color: #2e2f42;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;

  line-height: 1.1;
  letter-spacing: 0.03em;
}

.span-logo-footer {
  color: #4d5ae5;
}

.footer-text {
  margin-top: 16px;
  color: #f4f4fd;
  max-width: 264px;
}
